* {
	font-family: 'Roboto', sans-serif;
}

h1 { 
	font-weight: 400;
	font-family: 'Roboto Condensed', sans-serif;
	
	background: #ff5252;
    display: inline-block;
    padding: 5px 14px;
    
    @include screen-xs {
	    font-size: 1.8rem;
    }
}

h2 { 
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
	
	@include screen-xs {
		font-size: 1.5rem;	
	}
	
	small {
		font-size: 75%;
		font-style: italic;
		color: #ff5252;
		margin-left: 5px;
		
		@include screen-xs {
			display: block;
			margin-left: 0;
		}
	}
}

h3 { 
	font-weight: 300;
	font-size: 1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
	
	@include screen-xs {
		font-size: 1.3rem;	
	}
	
	a {
		color: white;
	    text-decoration: underline;
	    margin-bottom: 10px;
	    display: block;
	    transition: 0.5s all;
	    
	    &:hover, &:active, &:focus {
		    opacity: 0.75;
		    color: white;
	    }
	}
	
	small {
		font-size: 75%;
		font-style: italic;
		color: #ff5252;
		display: block;
		margin-top: 3px;
		
		@include screen-xs {
			display: block;
			margin-left: 0;
		}
	}
}

h4 {
	font-weight: 300;
	font-size: 1rem;
	font-family: 'Roboto Condensed', sans-serif;
	
	text-transform: uppercase;
	letter-spacing: 1px;
	
	background: #ff5252;
    display: inline-block;
    padding: 3px 8px;
    margin-top: 20px;
}

h5 {
	margin: 30px 0 10px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p, li {
	font-size: 1.2rem;
	line-height: 1.8;
	font-weight: 400;
	// text-align: justify;
	
	font-family: 'Roboto', sans-serif;

	@include screen-xs {
		font-size: 1rem;
	}
}

.text-underline {
	border-bottom: 2px solid white;
    display: inline-block;
    
    body.inverse & {
	    border-bottom: 2px solid black;
    }
}

.nav-link {
	color: white;
	transition: 0.5s all;
	padding: 0 20px 0 0;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
	
	&:hover {
		color: white;
		opacity: 0.75;
	}
}

figure {
	margin-bottom: 30px;
	
	figcaption {
		color: gray;
		margin-top: 10px;
	}
}

hr {
	margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid rgba(255,255,255,.25);
}
